version: '3.9'

services:
  db:
    image: mysql:8
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "123"
      MYSQL_DATABASE: "todofastapi"
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p123"]
      interval: 5s
      timeout: 3s
      retries: 10

  web:
    build: .
    container_name: fastapi-web
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: "123"
      DB_NAME: todofastapi
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - .:/app
