name: Deploy to EC2
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
        # 1. Go to the main project folder
        cd ~/todoapp
        
        # 2. Update the code from GitHub
        git pull origin main

        # 3. MOVE INTO THE NESTED FOLDER (where the Dockerfile is)
        cd todoapp

        # 4. Build and Run
        sudo docker build -t todo-app .
        sudo docker stop todo-container || true
        sudo docker rm todo-container || true
        sudo docker run -d --name todo-container -p 80:8000 todo-app
              
