name: Deploy to EC2
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/todoapp || git clone https://github.com/${{ github.repository }} ~/todoapp
            cd ~/todoapp
            git pull origin main
            sudo docker build -t todo-app .
            sudo docker stop todo-container || true
            sudo docker rm todo-container || true
            sudo docker run -d --name todo-container -p 80:80 todo-app
